.scrollContainer {
  position: relative;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1.5rem;

  /* efeito glass */
  background: rgba(15, 15, 20, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);

  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

/* blur laterais */
.leftBlur,
.rightBlur {
  position: absolute;
  top: 0;
  width: 90px;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.leftBlur {
  left: 0;
  background: linear-gradient(to right, rgba(12, 10, 9, 1), transparent);
}

.rightBlur {
  right: 0;
  background: linear-gradient(to left, rgba(12, 10, 9, 1), transparent);
}

.scrollWrapper {
  display: flex;
  width: max-content;
}

.scrollContent {
  display: flex;
  gap: 4.5rem;
  animation: infinite-scroll 60s linear infinite;
}

.scrollContent:hover {
  animation-play-state: paused;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.techItem {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.35s ease, filter 0.3s ease;
  display: flex;
  flex-direction: column;

  /* leve glow */
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.1));
}

.techItem:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 0 14px rgba(255, 255, 255, 0.25));
}
